<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1,minimum-scale=1,user-scalable=no, shrink-to-fit=no, viewport-fit=cover" />
  <title>SPayLater</title>
  <script>
    console.log('init', Date.now())
    document.addEventListener('readystatechange', function () {
      console.log(document.readyState, Date.now())
    })
  </script>
</head>

<body>
  <div id="root" style="height: 100%; position: relative;">
</body>

</html>